
    .main header{
        height:150px;
        width:100%;
        background-color: rgb(235, 231, 231);
    }
.sec1{
    background: #1c252e  url(../images/bannar.jpg) no-repeat ;
    height:auto;
    background-size: 100% 200px;
    width:100%;
   color:aliceblue;
    
}
.text{
    line-height: 50px;
    padding:40px;
}
.sec1 .text a{
    text-decoration: none;
}
.courses{
    height:auto;
    width:80%;
    margin:50px auto;
}
.card {
    position: relative;
    overflow: hidden;
  }


  .card a img {
    width: 100%;
    display: block;
  }
  .card a img:hover{
    opacity: .7;
  }
  .card a button {
    font-size: x-small;
    position: absolute;
    top: 40px;
    right: 2px; 
    transform: translateY(-50%); 
    background-color: rgba(59, 253, 29, 0.6);
    color: rgb(14, 129, 51);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
   
  }
  .card a button:hover {
    background-color: rgba(77, 155, 57, 0.8);
    color: aliceblue;
    
  }
   a.link-anim {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  a.link-anim::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;  
    width: 0; 
     height: 3px; 
    background-color: #1c252e; 
    transition: width 0.3s ease-in-out;
  }
  a.link-anim:hover::after {
    width: 100%;
  }
  .banrpage{
height:300px;
background-color:#041734;
position: relative;
}
 .banrpage .card{
position: absolute;
right:70px;
top:50px;
width:300px;
height: 100%;
border-radius: 40px;
}
ul.nav li a{
    color: #04265a;
    font-weight: bold;
}
ul.nav li a:hover{
text-decoration: underline;
}